body {
    margin: 0;
    font-family: Poppins, sans-serif;

    color: #000;
    overflow-x: hidden;
    height: 100%;

    background-color: #736c6c;
    background-image: url(../img/img2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  
    background-blend-mode: multiply;
  
    padding-bottom: 100px;
}

.card {
    z-index: 0;
    background-color: #eceff1;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.top {
    padding-top: 40px;
    padding-left: 13% !important;
    padding-right: 13% !important;
}


#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: #455a64;
    padding-left: 0;
    margin-top: 30px;
}

#progressbar li {
    list-style-type: none;
    font-size: 13px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400;
}

#progressbar .step0::before {
    font-family: FontAwesome;
    content: '\f10c';
    color: #fff;
}

#progressbar li::before {
    width: 40px;
    height: 40px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    background: #c5cae9;
    border-radius: 50%;
    margin: auto;
    padding: 0;
}

#progressbar li::after {
    content: '';
    width: 100%;
    height: 12px;
    background-color: #c5cae9;
    position: absolute;
    top: 16px;
    left: 0;
    z-index: -1;
}

#progressbar li:last-child::after {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    left: -50%;
}

#progressbar li:nth-child(2)::after,
#progressbar li:nth-child(3)::after {
    left: -50%;
}

#progressbar li:first-child::after {
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    left: 50%;
}


#progressbar li.active::before,
#progressbar li.active::after {
    background-color: #20b670;
}

#progressbar li.active::before {
    font-family: FontAwesome;
    content: '\f00c';
}

.icon {
    width: 100px;
    height: 100px;

}

.icon-content {
    position: relative;
    height: 160px;
    margin: 0 auto;
    text-align: center;
}

.pop-up-btn {
    position: relative;
    display: inline-block;
    padding: 0px 0px;
    color: #000;
    border-radius: 0px;
    cursor: pointer;
}
  
  .pop-up-btn:hover .info-box {
    visibility: visible;

}
  
  
  .info-box {
    z-index: 3;
    position: absolute;
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    color: #000;
    padding: 10px;
    border-radius: 5px;
    visibility: hidden;
    width: 200px;
    text-align: center;
    font-size: 14px;
    padding-bottom: 10px;
}  

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #20BB70;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav a:hover {
    color: inherit;
    text-decoration: none;
} 

.nava {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: transparent;
    box-shadow: 0 0 0;
}
 
.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333333;
    font-weight: 500;
    font-size: 28px;
} 

.logo img {
    width: 50px;
    height: 50px;
}

.logo1{
    font-size: 20px;
    color: #fff;
}

.logo1 img{
    width: 50px;
    height: 50px;
}


.dt-table {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-collapse: collapse;
    margin-bottom: 20px;
}
  
  
  .dt-table td, .dt-table th {
    padding: 10px;
    text-align: left;
    border: none;
}
  

  footer{
    width: 100%;
    background-color: #20BB70;
    padding-bottom: 10px;
}

.td-s ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.td-s a {
    display: block;
    text-decoration: none;
    color: black;
}

.td-s a:hover {
    color: white;
}

.td-s ul li a:hover {
    color: white;
}

.botrig a{
    text-decoration: none;
    color: black;
}

.botrig a:hover{
    color: white;
}
  
  @media (max-width: 1065px) {
    .dt-table {
      display: block;
      width: 100%;
      padding: 5px;
      align-items: center;
    }
    
    .dt-table tr {
      display: block;
      padding-bottom: 10px;
      border: none;
    }
    
    .dt-table td, .dt-table th {
      display: block;
      border: none;
      text-align: left;
      padding: 5px;
    }
    
    .dt-table td:before {
      content: attr(dt-title);
      font-weight: bold;
      display: inline-block;
      margin-right: 5px;
    }
  }
  
  
@media screen and (max-width: 500px) {
    .icon-content {
        width: 25% 25%;

    }

    .icon {
        width: 70px;
        height: 70px;
    
    }

    .info-box{
        font-size: 10px;
    }

    .info-box {
        width: 60px;
        font-size: 8px;
    }

    .ordersum{
        font-size: 10px;
    }

    .icon-1{
        width: 15px;
    }

    .logo {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #333333;
        font-weight: 500;
        font-size: 15px;
    } 
    .logo img {
        
        width: 30px;
        height: 30px;
    }

    .mb-0{
        font-size: 13px ;
    }

    .pop-up-btn p{
        font-size: 14px;
    }

}